{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<style type="text/css">
    .thumbnail {width: 100%;}

    .thumbnail-8 {width: 80%;}

    .thumbnail-6 {width: 60%;}

    .text-orange {color: #FA6;}

    .bg-orange {background: #FA6;}

    .square {
        border: 1px solid black;
        border-radius:5px;
        transition: .5s;
        overflow: hidden;
    }

    .height-vh {height: 100vh;}

    .about-select {
        width: 90%;
        background: #FA6;
        color: white;
        border-radius:10px;
        transition: .5s;
        overflow: hidden;
        cursor: pointer;
    }

    .about-select:hover {
        color: white;
        background: #111;
    }

    .about-select.active { background: #111; }

    .center {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: column;
    }

    .vertical-center {
        justify-content: center;
        display: flex;
        flex-flow: column;
    }

    .horizontal-center {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    .fill-up:before{
        content: "";
        padding-top: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    .about {
        order:0;
        background: url(/media/public_image/writing_desk.png);
        background-size: cover;
        background-position: center 0px;
        min-height: 100vh;
    }


    .left-image-box {
        background: white;
        border: 3px solid #FA6;
        border-radius: 100%;
        overflow: hidden;
    }

    #to-top {
        width: 90%;
        background: #FA6;
        color: white;
        border: 5px solid #666;
        border-radius:100%;
        transition: .5s;
        overflow: hidden;
        position: fixed;
        right: 1vw;
        bottom: 1vh;
        flex-flow: column;
    }

    #head-box {
        background: url("{{ head_background.url }}");
        background-size: cover;
        background-position: 50% 0px;
        min-height:100vh;
    }

    #body-box {
        min-height: 100vh;
    }

    .head-title {color: white;
        font-family: LuloCleanW01-OneBold;
    }
    .head-content { color: white; font-family: cwTeXFangSong;}

    .about-title {color: white; font-family: LuloCleanW01-OneBold;}
    .about-title:first-letter {color: #FA6;}

    .body-title {color: white;
        font-family: LuloCleanW01-OneBold;
    }
    .body-title:first-letter {color: #FA6; font-family: LuloCleanW01-OneBold;}
    .body-content {
        color: white;
        font-family:cwTeXFangSong;
        background: #FA6;
        border-radius: 15px;
        padding: 10px;
        margin: 15px;
    }
    .body-data {color: white;}

    .work-title {color: white;}
    .work-title:first-letter {color: #FA6;}

    .work-url {
        padding-bottom: 10px;
        transition: .5s;
        }
    .work-url:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .about-skill-data {
        background: #FA6;
        border-radius: 10px;
        width: 100%;
        transition: .5s;
    }

    .about-work-more-box {text-align: left;}

    .about-work-more-link {color: #FA6;}

    .about-work-more-link:hover {
        color: #222;
        text-decoration: underline;
    }

    .about-skill-data:hover {background: #222;}
    
    .submit-button {
        background: #FA6;
        border-radius: 10px;
        border: 1px;
        color: white;
        min-width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        transition: .5s;
    }

    .submit-button:hover {
        background: #222;
        padding: 10px;
    }

    .body-image-box {
        background: white;
        border: 2px solid #FA6;
        border-radius: 100%;
        overflow: hidden;
        width: 80%;
    }

    .link-title {
        color: white;
        text-align: center;
    }

    .link-title:first-letter {color: #FA6;}
    
    .link {
        padding-bottom: 10px;
        transition: .5s;
    }

    .link:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    @media(max-width:767px){
        #right-box {text-align: center;}
        .select-button {
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media(min-width:768px){
        #right-box {text-align: center;}

        .select-button {
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media(min-width:992px){
        #right-box {text-align: unset;}
        .select-button {
            margin-right: unset;
            margin-left: unset;
        }

        .about-select-box {
            margin-left: unset;
        }
    }

    @media(min-width:1200px){
    }

    @media(max-width:767px){
        .about-select{font-size: 3.2vw;}
        .form-group {font-size: 3.2vw;}

        .head-title {font-size:8vw;}
        .head-content {font-size:4.5vw;}

        .body-title {font-size:5vw;}
        .body-content {font-size:4.2vw;}
        .body-data {font-size:4vw;}

        .work-title {font-size:5vw;}

        .link-title {font-size:4vw;}

        .about-title {font-size:10vw; text-align: center;}
        
        .about-work-more-link {font-size:4vw;}

        .owl-carousel .owl-nav button.owl-prev .nav-btn{font-size: 5vw;}

        #to-top {font-size:3vw;}

        #to-top {
            width: 12vw;
            height: 12vw;
        }
    }

    @media(min-width:768px){
        .about-select{font-size: 2.5vw;}
        .form-group {font-size: 4vw;}

        .head-title {font-size:8vw;}
        .head-content {font-size:5.5vw;}

        .body-title {font-size:4vw;}
        .body-content {font-size:3.2vw;}
        .body-data {font-size:3vw;}

        .work-title {font-size:6vw;}

        .link-title {font-size:4vw;}

        .about-title {font-size:10vw; text-align: center;}

        .about-work-more-link {font-size:3vw;}

        .submit-button {font-size: 2.6vw}

        .requiredField {font-size: 5vw;}

        .owl-carousel .owl-nav button.owl-prev .nav-btn{font-size: 3vw;}
        .owl-carousel .owl-nav button.owl-next .nav-btn{font-size: 3vw;}

        #to-top {font-size:3vw;}

        #to-top {
            width: 12vw;
            height: 12vw;
        }
    }

    @media(min-width:992px){
        .about-select{font-size: 1.5vw;}
        .form-group {font-size: 1.5vw;}

        .head-title {font-size:7.5vw;}
        .head-content {font-size:3vw;}

        .body-title {font-size:3.5vw;}
        .body-content {font-size:2vw;}
        .body-data {font-size:1.8vw;}

        .work-title {font-size:4vw;}

        .link-title {font-size:3.5vw;}

        .about-title {font-size:4vw; text-align: center;}

        .about-work-more-link {font-size:2vw;}

        .submit-button {font-size: 1.5vw}

        .requiredField {font-size: 2vw;}

        #to-top {font-size:2vw;}
        #to-top {
            width: 6vw;
            height: 6vw;
        }
    }

    @media(min-width:1200px){
        .about-select{font-size: 1.1vw;}
        .form-group {font-size: 1.5vw;}

        .head-title {font-size:6vw;}
        .head-content {font-size:2.2vw;}

        .body-title {font-size:2.5vw;}
        .body-content {font-size:1.5vw;}
        .body-data {font-size:1.5vw;}

        .link-title {font-size:2.5vw;}
        
        .about-work-more-link {font-size:2vw;}

        #to-top {font-size:1.5vw;}
    }

    .list-group-item {
        background: #000;
        color: white;
        border: 1px solid white;
    }

    .requiredField {color: white;}

    .requiredField:first-letter {color: #FA6;}

    button:focus {outline:0;}
</style>

<script type="text/javascript">
    window.addEventListener('load', function() {
        $(".nav-select, .about-select").click(function() {
            let about_target = $(this).data("torget");
            $("html, body").animate({
                'scrollTop':   $(about_target + "-box").offset().top - $(".navbar").height() + 1
            }, 600);

        })

        $("#to-top").click(function() {
                $("html, body").animate({
                    'scrollTop': 0
                }, 600);
        });

        let head_box_position = $("#head-box").height() - $(document).scrollTop()
        if (head_box_position < $("#head-box").height()/2) {
            $("#to-top").show();
        }else {
            $("#to-top").hide();
        }

        $(window).scroll(function() {
            let new_head_box_position = $("#head-box").height() - $(document).scrollTop()
            if (new_head_box_position < $("#head-box").height()/2) {
                $("#to-top").show();
            }else {
                $("#to-top").hide();
            }
        });


        let scroll_bg_list = document.querySelectorAll(".scroll-bg")
        let speed = 0.5;


            [].slice.call(scroll_bg_list).forEach(function(el,i){
                let page_position = $(document).scrollTop();
                let scroll_offset = page_position - el.offsetTop + 55;
                let scroll_bg_position = "center " + (scroll_offset * speed) + "px";
                el.style.backgroundPosition = scroll_bg_position;
            });

        window.onscroll = function(){
            [].slice.call(scroll_bg_list).forEach(function(el,i){
                let page_position = $(document).scrollTop();
                let scroll_offset = page_position - el.offsetTop + 55;
                let scroll_bg_position = "center " + (scroll_offset * speed) + "px";
                el.style.backgroundPosition = scroll_bg_position;
            });
        };

/*
        $(window).scroll(function() {
            $(".scroll-bg").each(function(i, el){
                let top_offset = $(el).offset().top - $(document).scrollTop() - $(".navbar").height();
                let bottom_offset = $(el).offset().top - $(document).scrollTop() + $(el).height() - $(".navbar").height();
                let el_view_range = $(el).height() + $(window).height();
                let el_view_percentage = 100 - (bottom_offset / el_view_range *100);
                //el_view_percentage = String(el_view_percentage).split(".")[0];
                if (el_view_percentage >= 0) {
                    console.log(100 - (bottom_offset / el_view_range * 100));
                }
                let scroll_bg_position = "50% " + (Number(100) + Number(el_view_percentage*2)) + "%";
                $(el).css("background-position", scroll_bg_position);
            });
        });
*/

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    navText:["<div class='nav-btn prev-slide'><</div>","<div class='nav-btn next-slide'>></div>"],
    responsive:{
        0:{
            items:1
        },
        768:{
            items:2
        },
        992:{
            items:4
        }
    }
})


    });
</script>
<div id="head-box" class="center scroll-bg">
    <div class="container col-sm-10 col-md-10 col-lg-8 col-xl-8">
        <div class="row">
            <div id="left-box" class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 container center pt-2">
                <div class="left-image-box">
                    <img alt="" class="thumbnail" src="{{ head_left_image.url }}">
                </div>
            </div>

            <div id="right-box" class="col-md-12 col-lg-9 col-xl-9 right-box container py-3">
                <div class="col container pb-1">
                    <p class="head-title pb-5">
                    <span class="text-orange">H</span>I
                    <span class="text-orange">I'</span>M
                    <span class="text-orange">R</span>AY
                    <span class="text-orange">!</span>
                    </p>

                    <p class="head-content">
                    <span class="text-orange">維運</span>與<span class="text-orange">網頁全端</span>工程師
                    </p>
                </div>

                <div class="col-md-10 col-lg-10 col-xl-10 container about-select-box py-3">
                    <div class="row">
                    <div class="col p-0 center"><div class="about-select center" data-torget="#work" id="work-select">WORK</div></div>
                    <div class="col p-0 center"><div class="about-select center" data-torget="#skill" id="skill-select">SKILL</div></div>
                    <div class="col p-0 center"><div class="about-select center" data-torget="#contact" id="contact-select">CONTACT</div></div>
                    <div class="col p-0 center"><div class="about-select center" data-torget="#link" id="link-select">LINK</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="body-box">

                <div class="about horizontal-center scroll-bg" id="work-box">
                    <div class="col-12 col-sm-11 col-md-11 col-lg-10 col-xl-8">
                        <p class="about-title">Works</p>
                        <div>
                            {% for work in work_list %}
                                <div>
                                    <a class="work-url center" href="{{ work.url }}">
                                    <div class="row">
                                        <div class="col-3 center">
                                            <div class="body-image-box center">
                                                <img alt="" class="thumbnail" src="{{ work.image.url }}">
                                            </div>
                                        </div>
                                        <div class="col-9 vertical-center">
                                            <p class="work-title">{{ work.name }}</p>
                                            <p class="body-content">{{ work.content }}</p>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="about horizontal-center scroll-bg" id="skill-box">
                    <div class="col-12 col-sm-11 col-md-11 col-lg-10 col-xl-8">
                    <p class="about-title">Skills</p>
                    {% for skill in skill_list %}
                        <p class="body-title">{{ skill.title }}</p>
                        <p class="body-content">{{ skill.description }}</p>
                    {% endfor %}
                    </div>
                </div>

                <div class="about horizontal-center scroll-bg" id="contact-box">
                    <div class="col-12 col-sm-11 col-md-11 col-lg-10 col-xl-8">
                        <p class="about-title">Contact</p>
                        <div class="col pt-3">
                            <form method="post">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button class="submit-button" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="about horizontal-center scroll-bg" id="link-box">
                    <div class="col-12 col-sm-11 col-md-11 col-lg-10 col-xl-8">
                        <p class="about-title">Links</p>
                        <div class="col pt-3">
                            <div class="row">
                            {% for link in link_list %}
                                <a class="col-6 col-sm-6 col-md-3 link center" href="{{ link.url }}">
                                    <p class="link-title">{{ link.name }}</p>
                                    <div class="body-image-box">
                                        <img alt="" class="thumbnail" src="{{ link.image.url }}">
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

</div>

<div id="to-top" class="circle center">
    <div>▲</div>
    <div>TOP</div>
</div>
{%endblock%}
