{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<style type="text/css">
    .thumbnail {width: 100%;}

    .thumbnail-8 {width: 80%;}

    .thumbnail-6 {width: 60%;}

    .text-orange {color: #FA6;}

    .bg-orange {background: #FA6;}

    .square {
        border: 1px solid black;
        border-radius:5px;
        transition: .5s;
        overflow: hidden;
    }

    .height-vh {height: 100vh;}

    .about {
        background-size: cover;
        background-position: center 0px;
        min-height: 101vh;
    }

    .about-select {
        width: 90%;
        background: #FA6;
        color: white;
        border-radius:10px;
        transition: .5s;
        overflow: hidden;
        cursor: pointer;
    }

    .about-select:hover {
        color: white;
        background: #666;
    }

    .about-select.active { background: #111; }

    .center {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: column;
    }

    .vertical-center {
        justify-content: center;
        display: flex;
        flex-flow: column;
    }

    .horizontal-center {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    .fill-up:before{
        content: "";
        padding-top: 100%;
    }

    a:hover {
        text-decoration: none;
    }


    #skill-box {
        background: #333;
        background-size: cover;
    }
    #work-box {
        background: #333;
        background-size: cover;
    }
    #contact-box {
        background: #333;
        background-size: cover;
    }
    #link-box {
        background: url("{{ background_list.4.image.url }}");
        background-size: cover;
    }


    .left-image-box {
        background: white;
        border: 3px solid #FA6;
        border-radius: 100%;
        overflow: hidden;
    }

    #to-top {
        width: 90%;
        background: #FA6;
        color: white;
        border: 5px solid #666;
        border-radius:100%;
        transition: .5s;
        overflow: hidden;
        position: fixed;
        right: 1vw;
        bottom: 1vh;
        flex-flow: column;
    }

    #home-box {
        background: url("{{ background_list.0.image.url }}");
        background-size: cover;
        background-position: 50% 0px;
        min-height:100vh;
        width: 100%;
    }

    #body-box {
        min-height: 100vh;
    }

    .head-title {color: white;
        font-family: LuloCleanW01-OneBold;
    }

    .head-content {
        font-family: cwTeXFangSong;
        color: white;
    }

    .about-title {
        color: white;
        font-family: LuloCleanW01-OneBold;
        padding-top: 6vh;
    }

    .about-title:first-letter {color: #FA6;}

    .body-title {color: white;
        font-family: LuloCleanW01-OneBold;
    }

    .body-title:first-letter {
        font-family: LuloCleanW01-OneBold;
        color: #FA6;
    }

    .body-content {
        color: white;
        font-family:cwTeXFangSong;
        background: #FA6;
        border-radius: 15px;
        padding: 15px;
        margin: 15px;
    }

    .body-about-content {
        color: white;
        font-family:cwTeXFangSong;
        text-align: center;
        font-size: 4vw;

    }

    .body-data {
        color: white;
        font-family:cwTeXFangSong;
    }

    .work-title {color: white;}
    .work-title:first-letter {color: #FA6;}

    .work-info {
        display: none;
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
    }

    .work-info.hover {
        display: flex;
    }

    .work-url {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .about-skill-data {
        background: #FA6;
        border-radius: 10px;
        width: 100%;
        transition: .5s;
    }

    .about-work-more-box {text-align: left;}

    .about-work-more-link {color: #FA6;}

    .about-work-more-link:hover {
        color: #222;
        text-decoration: underline;
    }

    .about-skill-data:hover {background: #222;}
    
    .submit-button {
        background: #FA6;
        border-radius: 10px;
        border: 1px;
        color: white;
        min-width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        transition: .5s;
    }

    .submit-button:hover {
        background: #666;
    }

    .body-image-box {
        background: white;
        border-radius: 100%;
        border: 5px solid #666;
        overflow: hidden;
        width: 80%;
    }

    .link-title {
        color: white;
        text-align: center;
    }

    .link-title:first-letter {color: #FA6;}
    
    .link {
        padding-bottom: 10px;
        transition: .5s;
    }

    .link:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .contact-input {
        border-bottom: 1px white solid;
        margin-bottom: 20px;
        color: white;
        font-size: initial;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    @media(max-width:767px){
        #right-box {text-align: center;}
        .select-button {
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media(min-width:768px){
        #right-box {text-align: center;}

        .select-button {
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media(min-width:992px){
        #right-box {text-align: unset;}
        .select-button {
            margin-right: unset;
            margin-left: unset;
        }

        .about-select-box {
            margin-left: unset;
        }
    }

    @media(min-width:1200px){
    }

    @media(max-width:767px){
        .about-select{font-size: 3.2vw;}
        .form-group {font-size: 3.2vw;}

        .head-title {font-size:8vw;}
        .head-content {font-size:4.5vw;}

        .body-title {font-size:5vw;}
        .body-content {font-size:4.2vw;}
        .body-data {font-size:4vw;}

        .work-title {font-size:5vw;}

        .link-title {font-size:4vw;}

        .about-title {font-size:10vw; text-align: center;}
        
        .about-work-more-link {font-size:4vw;}

        .owl-carousel .owl-nav button.owl-prev .nav-btn{font-size: 5vw;}

        #to-top {font-size:3vw;}

        #to-top {
            width: 12vw;
            height: 12vw;
        }
    }

    @media(min-width:768px){
        .about-select{font-size: 2.5vw;}
        .form-group {font-size: 4vw;}

        .head-title {font-size:8vw;}
        .head-content {font-size:5.5vw;}

        .body-title {font-size:4vw;}
        .body-content {font-size:3.2vw;}
        .body-about-content {font-size:6vw;}
        .body-data {font-size:3vw;}

        .work-title {font-size:6vw;}

        .link-title {font-size:4vw;}

        .about-title {font-size:10vw; text-align: center;}

        .about-work-more-link {font-size:3vw;}

        .submit-button {font-size: 2.6vw}

        .requiredField {font-size: 5vw;}

        .owl-carousel .owl-nav button.owl-prev .nav-btn{font-size: 3vw;}
        .owl-carousel .owl-nav button.owl-next .nav-btn{font-size: 3vw;}

        #to-top {font-size:3vw;}

        #to-top {
            width: 12vw;
            height: 12vw;
        }
    }

    @media(min-width:992px){
        .about-select{font-size: 1.5vw;}
        .form-group {font-size: 1.5vw;}

        .head-title {font-size:7.5vw;}
        .head-content {font-size:3vw;}

        .body-title {font-size:3.5vw;}
        .body-content {font-size:2vw;}
        .body-about-content {font-size:3vw;}
        .body-data {font-size:1.8vw;}

        .work-title {font-size:4vw;}

        .link-title {font-size:3.5vw;}

        .about-title {font-size:4vw; text-align: center;}

        .about-work-more-link {font-size:2vw;}

        .submit-button {font-size: 1.5vw}

        .requiredField {font-size: 2vw;}

        #to-top {font-size:2vw;}
        #to-top {
            width: 6vw;
            height: 6vw;
        }
    }

    @media(min-width:1200px){
        .about-select{font-size: 1.1vw;}
        .form-group {font-size: 1.5vw;}

        .head-title {font-size:6vw;}
        .head-content {font-size:2.2vw;}

        .body-title {font-size:2.5vw;}
        .body-content {font-size:1.5vw;}
        .body-data {font-size:1.5vw;}

        .link-title {font-size:2.5vw;}
        
        .about-work-more-link {font-size:2vw;}

        #to-top {font-size:1.5vw;}
    }

    .list-group-item {
        background: #000;
        color: white;
        border: 1px solid white;
    }

    .requiredField {color: white;}

    .requiredField:first-letter {color: #FA6;}

    button:focus {outline:0;}
</style>

<script type="text/javascript">
    window.addEventListener('load', function() {
        Vue.config.devtools = false;
        $.ajax({
            url: "/api/page",
            method: "GET",
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            dataType: "json"
        }).done(function(response) {
            let page_contents = "";
            $.each(response.page, function(i, el){
                let page_start_tag = '<div id="' + el.name + '-box" class="scroll-bg page-box center about">';
                let page_end_tag = '</div>';
                let page_content = page_start_tag + el.content + page_end_tag;
                page_contents += page_content;
            });

            let page = new Vue({
                el: '#main-box',
                data: {
                    page: page_contents
                },
                mounted: function(){


                    $.ajax({
                        url: "/api/page/data",
                        method: "GET",
                        headers: {"X-CSRFToken": "{{ csrf_token }}"},
                        dataType: "json"
                    }).done(function(response) {
                        let page_data = new Vue({
                            el: "#main-box",
                            data: {
                               data: response
                            },
                            mounted: function(){
                                $("#to-top").click(function() {
                                        $("html, body").animate({
                                            'scrollTop': 0
                                        }, 600);
                                });

                                let head_box_position = $("#home-box").height() - $(document).scrollTop()
                                if (head_box_position < $("#home-box").height()/2) {
                                    $("#to-top").show();
                                }else {
                                    $("#to-top").hide();
                                }

                                $(window).scroll(function() {
                                    let new_head_box_position = $("#home-box").height() - $(document).scrollTop()
                                    if (new_head_box_position < $("#home-box").height()/2) {
                                        $("#to-top").show();
                                    }else {
                                        $("#to-top").hide();
                                    }
                                });


                                let speed = 0.5;

                                $(window).scroll(function() {
                                    $(".scroll-bg").each(function(i, el){
                                        let page_position = $(document).scrollTop();
                                        let scroll_offset = page_position - el.offsetTop;
                                        let scroll_bg_position = "center " + (scroll_offset * speed) + "px";
                                        el.style.backgroundPosition = scroll_bg_position;
                                    });
                                });

                                let page = $(".page-box").first().attr('id');

                                function scroll(target, el, speed){
                                    switch (target){
                                    case "TOP":
                                        $("html, body").animate({
                                            'scrollTop': Math.ceil($(el).offset().top)
                                        }, speed);
                                        break;

                                    case "BOTTOM":
                                        $("html, body").animate({
                                            'scrollTop':   $(el).offset().top + ($(el).height()-$( window ).height())
                                        }, speed);
                                        break;
                                    }
                                }

                                $(".nav-select, .about-select").click(function() {
                                    let about_target = $(this).data("torget");
                                    scroll("TOP", $(about_target + "-box"), 600);
                                });

                                $(window).scroll(function() {
                                    clearTimeout($.data(this, 'scrollTimer'));
                                    $.data(this, 'scrollTimer', setTimeout(function() {
                                        let now_page;
                                        $(".page-box").each(function(i, el){
                                            let page_id = $(el).attr('id');
                                            //let top_pos = ( $(el).offset().top - $(document).scrollTop() - $(".navbar").height() + 1 ) / ($( window ).height()  - $(".navbar").height() ) * 100;
                                            let top_pos = ( $(el).offset().top - $(document).scrollTop()) / ($( window ).height()) * 100;
                                            //let bottom_pos = ($(el).offset().top - $(document).scrollTop() + $(el).height() - $(".navbar").height()) / ($( window ).height()  - $(".navbar").height() ) * 100;
                                            let bottom_pos = ($(el).offset().top - $(document).scrollTop() + $(el).height()) / ($( window ).height()) * 100;

                                            switch (true) {
                                                case (top_pos <=20 && top_pos > 0):
                                                    if ($(el).is(':first-child') == false){
                                                        page = page_id;
                                                        scroll("TOP", el, 100);
                                                    }
                                                    break;

                                                case (bottom_pos < 100 && bottom_pos >= 80):
                                                    page = page_id;
                                                    scroll("BOTTOM", el, 100);
                                                    break;

                                                case (top_pos > 20 && top_pos < 80):
                                                    let now_page_index = $(el).index();
                                                    let old_page_index = $('#' + page).index();
                                                    switch (true) {
                                                        case (now_page_index > old_page_index):
                                                            scroll("TOP", el, 300);
                                                            page = page_id;
                                                            break;

                                                        case (now_page_index <= old_page_index):
                                                            scroll("BOTTOM", $(".page-box")[i-1], 300);
                                                            page = $($(".page-box")[i-1]).attr('id');
                                                            break;
                                                    }
                                                    break;

                                                case (bottom_pos >= 100 && top_pos <= 0):
                                                    page = page_id;
                                                    break;
                                            }
                                        });
                                    }, 250));
                                });

                                $("html, body").on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function(){
                                    $("html, body").stop();
                                });

                                let touch_status = false;

                                $(".work-img").on('touchstart', function(){
                                    clearTimeout($.data(this, "touch_timer"));
                                    touch_status = true;
                                    $.data(this, "touch_timer", setTimeout(function(){
                                        touch_status = false;
                                    },500));
                                });

                                $(".work-img").mouseover(function(){
                                    work_info_target = $(this).data("torget");
                                    $(work_info_target).addClass("hover");
                                });

                                $(".work-info").mouseleave(function(){
                                    $(this).removeClass("hover");
                                });

                                $(".work-info").mouseup(function(){
                                    if (!touch_status){
                                        window.location = $(this).data("url");
                                    }
                                });

                                $("#contact_submit_button").click(function(){
                                    let url = "/api/contact";
                                    let method = "POST";
                                    let data = {};
                                    data['name'] = $("#id_name").text()
                                    data['email'] = $("#id_email").text()
                                    data['title'] = $("#id_title").text()
                                    data['message'] = $("#id_message").text()

                                    $.ajax({
                                        url: url,
                                        method: method,
                                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                        data: data,
                                        dataType: "json"
                                    }).done(function(response) {
                                        alert("訊息已送出");
                                    })
                                });

                            }
                        });
                    });
                }
            });

        });


    });
</script>

<div v-html="page" id="main-box"></div>

<div id="to-top" class="circle center">
    <div>▲</div>
    <div>TOP</div>
</div>
{%endblock%}
